<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <link rel="stylesheet" type="text/css" href="/client/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet/less" type="text/css" href="less/main.less">
    <script type="text/javascript" src="/client/bower_components/less/dist/less.min.js"></script>
</head>

<body ng-controller="MainController">
    <nav>
        <div class="nav-title">Title</div>
        <div class="filler"></div>
        <div class="nav-sign-in" ng-click="showSignInDialog()">Sign in</div>
        <div class="nav-account" ng-click="openAccount()"><i class="material-icons">account_circle</i></div>
        <div class="nav-settings" ng-click="openSettings()"><i class="material-icons">settings</i></div>
    </nav>
    <div class="container">
        <div class="user-menu" ng-repeat="menu in menuStructure track by $index">

            <div class="menu-content">
                <div class="menu-top">
                    <div class="menu-title">{{menu.title}}</div>
                    <div class="filler"></div>
                    <div class="menu-minimalize">_</div>
                    <div class="menu-exit" ng-click="menu.onexit()">✕</div>
                </div>
                <div class="menu-button" ng-repeat="item in menu.content track by $index" ng-click="item.onopen(menu)">{{item.title}}</div>
                <div class="filler"></div>
            </div>
            <div ng-mousedown="changeContentSize($event)" class="separator"></div>
        </div>
        <div class="content">
            <ng-view></ng-view>
        </div>
    </div>
    <script type="text/javascript" src="/client/bower_components/jquery-3.1.1.min/index.js"></script>
    <script type="text/javascript" src="/client/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/client/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/client/bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="/client/bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/client/bower_components/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="/client/src/js/app.module.js"></script>
    <script type="text/javascript" src="/client/src/js/app.route.js"></script>
    <script type="text/javascript" src="/client/src/js/user.menu.service.js"></script>
    <script type="text/javascript" src="/client/src/js/main.controller.js"></script>
    <script type="text/javascript" src="/client/src/js/sign.in.controller.js"></script>
</body>

</html>