<div class="sign-up">
    <form>
        <div class="content">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Login</label>
                <input ng-model="user.login">
                <div ng-messages="Form.password.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Please enter your login.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Password</label>
                <input type="password" ng-model="user.password">
                <div ng-messages="Form.password.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Please enter your password.</div>
                </div>
            </md-input-container>
            <md-dialog-actions layout="row">
                <md-button>
                    sign up
                </md-button>
            </md-dialog-actions>
        </div>
    </form>
</div>